extends layout

block content
    .grid-item-logo
        a(href="/" )
            img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream")
    .grid-item-back
        a(href="/menu" )
            img(id='backLogo' src="/img/back.svg" alt="retornar")
    .grid-item-filter
        a(href="/nosotros")= video.nombre
    .grid-item-menu
        a(href="/menu" )
          img(id='menuLogo' src="/img/menu.svg" alt="menu")
    .grid-video !{video.pathUrl}
    //-.grid-play
        img( src="/img/play.svg" alt="play")
    .grid-item
    .grid-item
    .grid-item-textVideo
        p(class='grid-item-video-p')= +video.descripcion
    .grid-item
    .grid-item
        img(id= "iconoName" src="/img/creditos.svg" alt="creditos")
    .grid-item-texto
        p= 'Director '+video.creditos.director
        p= 'Productor '+video.creditos.productor
        p= 'Cast '+video.creditos.cast 
    .grid-item-share
        img(id="iconos" src="/img/share.svg" alt="compartir" )
    .grid-item-return
        button(onclick='topFunction()' id='myBtn')
            img(id="iconos" src="/img/return.svg" alt="arriba")

    script
        include ../../public/javascripts/topPage.js
    